@using Project.Core.Entities
@model ICollection<News>


<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">News Tables</h1>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <a asp-area="Admin" asp-controller="Home" asp-action="Create" class="btn btn-success mb-3">Create</a>
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Discriptions</th>
                            <th>CatagoryId</th>
                            <th>IsDeleted</th>
                            <th>ImageUrl</th>
                            <th>Update</th>
                            <th>Soft Delete</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Discriptions</th>
                            <th>CatagoryId</th>
                            <th>IsDeleted</th>
                            <th>ImageUrl</th>
                            <th>Update</th>
                            <th>Soft Delete</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Desciption</td>
                                <td>@item.CatagoryId</td>
                                <td>@item.IsDeleted</td>
                                <td><img src="~/ImageUpload/@item.ImageUrl" alt="Alternate Text" /></td>
                                <td><a class="btn btn-success">Update</a></td>
                                <td><a  asp-area="Admin" asp-controller="Home" asp-action="SoftDelete" asp-route-id="@item.Id" class="btn btn-danger">Soft Delete</a></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->